<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect to Tonkeeper</title>
</head>
<body>
    <h1>Connect to Tonkeeper</h1>
    <button id="connectBtn">Connect Wallet</button>

    <script>
        document.getElementById('connectBtn').addEventListener('click', function() {
            window.location.href = 'http://193.203.162.185:3000/connect'; // URL вашего сервера
        });
    </script>
</body>
</html>
